# Ignore all files
*

# Except:
!organizing.ipynb
!preprocessing_augmentation_training.ipynb
!utils.py
!requirements.txt
!config.json
!category_keywords.json
!fewer_categories.json
!image_collector.ipynb
!classification_report_for_three_categories.md
!classifier_2.0.pth
!simple_model.ipynb
!.gitignore
