# Ignore all files
*

# Except:
!organizing.ipynb
!preprocessing_augmentation_training.ipynb
!utils.py
!requirements.txt
!config.json
!category_keywords.json
!fewer_categories.json
!country_classical.json
!image_collector.ipynb
!.gitignore
