# Ignore all files
*

# Except:
!organizing.ipynb
!preprocessing_augmentation_training.ipynb
!image_collector.ipynb
!simple_model.ipynb

!utils.py

!requirements.txt
!.gitignore

!config.json
!3_cat.json
!3_cat.csv
!4_cat.json
!4_cat.csv
!5_cat.json
!5_cat.csv
!category_keywords.json

!m3_5cat.pth
!Yehor_Mishchyriak_Dominik_Dadak_QAC239_Final_Project.pdf
